* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #b0b0b0;
}

.container {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    background-color: #eee;
    box-shadow: 0 2px 0px 0 rgba(0, 0, 0, 0.1);
    border-radius: 6px;
}

.container h1 {
    font-size: 33px;
    margin-block: 20px;
    color: #0f0f0f;
}

.container h3 {
    font-size: 20px;
    margin-block: 20px;
    color: #0f0f0f;
}

#translate-Form {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

#translate-Form label {
    font-size: 18px;
    color: #0f0f0f;
}

#translate-Form select {
    padding: 10px;
    width: 100%;
    font-size: 16px;

}

#translate-Form input {
    height: 60px;
    padding: 5px;
    font-size: 18px;
}

#translate-Form button {
    background-color: #008000;
    padding: 12px;
    border: none;
    color: white;
    font-size: 16px;
    margin-block: 14px;
}