body{
    background-color: #eee;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}
.container{
   max-width: 800px;
    margin: 50px auto;
    padding: 20px; 
}
.container h1{
    text-align: center;
    font-size: 26px;
    font-weight: 600;
}

#blog-form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    background-color: #f4f4f4;
    box-shadow: 0 8 0 0 rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-bottom: 50px;

}
#blog-form input{
    width: 100%;
    padding: 7px;
    font-size: 16px;
}
#blog-form button{
    padding: 10px;background-color: #e6e6e6;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#post-msg{
    width: 100%;
    height: 70px;
    padding: 8px;
}
#blog-form h2{
    text-align: center;
    font-size: 22px;
}
#post-list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin-top: -20px;
    background-color: #ebebeb;
}
.post{
    padding: 10px;
    box-shadow: 0 8 0 0 rgba(0, 0, 0, 0.1);
    background-color: #f0f8ff;
    gap: 15px;
    border-radius: 7px;
    
}
.post h2{
    font-size: 22px;
}
.post img{
    width: 100%;
}
.edit-btn{
    background-color: #1fed60;
    color: #fff;
    border: none;
    padding: 5%;
    border-radius: 50%;
    cursor: pointer;
}
.delete-btn{
   background-color: #682929;
    color: #fff;
    border: none;
    padding: 5%;
    border-radius: 50%;
    cursor: pointer;  
}